table{
  border: 2px solid gray;
  border-collapse: collapse;
}
table td{
  border: 1px solid gray;
}
th{
  border-left: 1px solid gray;
  text-align: center;
  padding: 20px;
}
table input{
  width: 100%;
  margin: 0 auto;
  display: block;
}
